.nopage-container{
    background-color: #faaa93;
    margin: 4% 15%;
    padding: 10% 15%;
    color: rgb(78, 77, 75);
    background-image: url('../../../assets/images/404.png');
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}


/* tablet and mobile responsive */
@media screen and (max-width:900px) {
    .nopage-container{
        margin: 100px 20px;
    }
}